*.exe
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bitcoin
#compilation and Qt preprocessor part
*.qm
bitcoin-qt
#resources cpp
qrc_*.cpp
creator
*.pro.user
#mac specific
.DS_Store
build
*.config
*.creator
*.creator.user
*.files
*.includes

!src/leveldb/Makefile
